POSTGRES_DB=ods
POSTGRES_USER=ods
POSTGRES_PASSWORD=change-this-local-database-password
JWT_SECRET=replace-with-a-random-secret-of-at-least-32-characters
ODS_SEED_ENABLED=true
ODS_SEED_PASSWORD=ChangeMe123!
FRONTEND_PORT=3000
BACKEND_PORT=8080
